### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# OneDrive 또는 시스템 임시 파일로 추정되는 특정 파일 제외
.849C9593-D756-4E56-8D6E-42412F2A707B

# IntelliJ 설정 파일 제외
.idea/
*.iml

# 컴파일 결과 및 빌드 파일 제외
build/

# 그 외 일반적인 제외 파일 (필요시 추가)
# *.class
# *.jar
# *.log
# *.db # SQLite DB 파일 (개발 중에는 포함할 수 있지만, Git에는 보통 올리지 않음)